{%extends 'base.html' %}

{% block content%}
<div style="font-family: 'Montserrat', sans-serif;font-size:32px;color:white;">
    
    <b class="anim-typewriter">Learn how to program the right way.</b>
    <p style="font-size:25px">
        <br>Learn important skills that will help you for years <br>to come. We have classes that will help you understand<br> important topics and help you in the long run.
    </p>
</div>

<!-- Section: Team v.1 -->
<section class="team-section text-center my-5" style='padding-top:200px;'>

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Why Pandemic Tutors?</h2>
  <!-- Section description -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.pixabay.com/photo/2018/07/23/11/23/cartoon-3556648_960_720.png" height ="150px"class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Dedicated Tutors</h5>
      <p class="grey-text">Dedicated skilled tutors for class sessions.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.pixabay.com/photo/2016/10/12/19/54/homework-1735644_960_720.png" height="150px" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Homework</h5>
      <p class="grey-text">Homework to help strengthen topics taught in class sessions</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.pixabay.com/photo/2016/11/29/15/24/office-1870184_960_720.jpg" width="163px" height="150px" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Group Projects</h5>
      <p class="grey-text">Group Projects to help each other understand concepts</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
        <!-- Dribbble -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-dribbble blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Book.svg" height="150px" class="z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Quality Curriculum</h5>
      <p class="grey-text">The curriculum we provide will help you understand every concept thoroughly.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->
{%endblock content%}